#dark-screen {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -100px;
	background-color: black;
	opacity: 0.8;
	color: white;
}

#dark-screen div {
	text-align: center;
	margin-top: 80px;
}

.formContact {
	width: 250px;
}

.formContact select,
input {
	width: 96%;
}

.formContact select,
button {
	width: 100%;
}
